<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eewoo.platform.mapper.AdminMapper">

    <select id="getCounselorList" parameterType="java.lang.String" resultType="com.eewoo.platform.pojo.vo.response.AdminCounselorResponse">
        SELECT counselor_id, name, title, supervisor, supervisor_id, session_count, session_time, session_score, banned, age, id_card, phone, email, work_place
        FROM
             (SELECT uc.id as counselor_id, uc.name as name, uc.title as title, us.name as supervisor, us.id as supervisor_id, uc.banned as banned, uc.age as age, uc.id_card as id_card, uc.phone as phone, uc.email as email, uc.work_place as work_place
             FROM user_counselor as uc
                      LEFT JOIN binding ON uc.id=binding.counselor_id
                      LEFT JOIN user_supervisor as us ON us.id=binding.supervisor_id
             <where>
                 <if test='name != null and name != "" '>
                     uc.name = #{name}
                 </if>
             </where>
            ) AS t1
        LEFT JOIN
            (SELECT counselor_id as cid, SUM(`session`.counselor_id) as session_count, SUM(`session`.duration) as session_time, SUM(`session`.visitor_feedback_score)/SUM(`session`.counselor_id) as session_score
             FROM `session`
             GROUP BY `session`.counselor_id
            ) AS t2
        ON t1.counselor_id = t2.cid
    </select>

    <select id="getSupervisorList" parameterType="java.lang.String" resultType="com.eewoo.platform.pojo.vo.response.AdminSupervisorResponse">
        SELECT supervisor_id, name, profile, banned, session_count, session_time, age, id_card, phone, email, work_place, qualification, qualification_number, title
        FROM
            (SELECT us.id as supervisor_id, us.name as name, us.profile as profile, us.banned as banned, us.age as age, us.id_card as id_card, us.phone as phone, us.email as email, us.work_place as work_place, us.qualification as qualification, us.qualification_number as qualification_number, us.title as title
            FROM user_supervisor as us
            <where>
                <if test='name !=null and name != "" '>
                    us.name = #{name}
                </if>
            </where>
        ) AS t1
    LEFT JOIN
        (SELECT supervisor_id as sid, SUM(session_sc.supervisor_id) as session_count, SUM(session_sc.duration) as session_time
        FROM session_sc
        GROUP BY session_sc.supervisor_id
        ) AS t2
    ON t1.supervisor_id=t2.sid
    </select>

    <select id="getCounselorsByBind" parameterType="java.lang.Integer" resultType="com.eewoo.common.pojo.Counselor">
        SELECT *
        FROM user_counselor as uc LEFT JOIN binding ON uc.id=binding.counselor_id
        WHERE binding.supervisor_id=#{supervisorId}
    </select>

    <insert id="batchInsertCounselorSchedule" parameterType="java.util.Map">
        INSERT INTO schedule_counselor (counselor_id,weekday)
        VALUES 
        <foreach collection="values" item="value" separator=",">
            (#{counselorId},#{value})
        </foreach>
    </insert>


    <insert id="batchInsertSupervisorSchedule" parameterType="java.util.Map">
        INSERT INTO schedule_supervisor (supervisor_id,weekday)
        VALUES
        <foreach collection="values" item="value" separator=",">
            (#{supervisorId},#{value})
        </foreach>
    </insert>





</mapper>